@{
    ViewBag.Title = "About Page Dummies!!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Can U Smell what the rock is cooking!!!</p>

<h2> No brakes means major headaches   </h2>

